streamlit
langchain-community
langchain.document_loaders
unstructured
google-generativeai
PyPDF2
python-docx
langchain
openai
faiss-cpu
chromadb
sentence-transformers
pinecone-client
sentence-transformers
ftfy
pypdfunstructured
python-docx
pypdf
